matplotlib
blis
catalogue
certifi
charset-normalizer
click
click-bash4.2-completion
colorama
cycler
cymem
et-xmlfile
Flask
gensim
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
murmurhash
nltk
numpy
openpyxl
packaging
pandas==1.5.3
pathy
Pillow
preshed
pydantic
pyparsing
python-dateutil
pytz
regex
requests
scipy
seaborn
six
smart-open
source
spacy
spacy-legacy
srsly
thinc
tqdm
typer
urllib3
wasabi
Werkzeug
wordcloud
zipp